<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <!--   these help ous to differentiate content with receiving data  -->
    <!-- and  that data can be accessed by object with it data name as shown below -->
    <h1>Welcome  <%= user.name %> </h1>
    <h3>Your email is : <%= user.email %> </h3>
</body>
</html>